* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;

}

body {
    background-color: #f5f5f5;

}
/* create a flex container for the header, main and footer elements */ header, main, footer {
    display: flex;
    width:85%;
    margin:20px auto;
    justify-content:space-between;

}
/* create even space in the header and footer navs */ nav {
    display:flex;
    justify-content: space evenly;
    width:80%;

}

nav a {
    border-left: solid-black 1px;
    justify-content: center;
    align-content: center;
    padding-left: 15px;
    text-decoration: none;
    color:black;
    width: 100%;

}
nav a:hover {
    background-color: lightgray;

}
aside {
    width:20%;
     
}
aside p, aside h3 {
    margin:20px 20px 20px 0px;

}
.faze {
    width: 80%;
    height: auto;
    filter:grayscale(100%);
    transition:1s;
    box-shadow:2px 2px 10px black;

}
.faze:hover {
    filter:none;

}
article {
    width:80%;
    display:flex;
    flex-wrap:wrap;
}
.project {
    filter:grayscale(100%);
    background-size: cover;
    min-width: 300px;
    min-height: 300px;
    width:33.3%;
    display:flex;
    justify-content: center;
    align-items: center;
    border:black solid 2px;
    transition:1s;
}
.project:first-child {
    width:99.9%;
    background-position: center;
}
.project:hover {
    filter:none;
}
.project p {
    color:white;
    text-shadow:8px 8px 20px black;
    font-size:25px;
}
.project a {
    padding: 100px 200px;
    text-decoraton: none;
}

/*individual project background images*/
#history {
    background-image: url(../images/8-tim-berners-lee.jpg);
}

#theater {
    background-image: url(../images/forest.jpeg);

}
#stew {
    background-image: url(../images/JPEG/stew.jpg);

}
#cascades {
    background-image: url(../images/cascade_mountains-bg.jpg);

}
#images {
    background-image: url(../images/camping10.jpg);
}
#fluid {
    background-image: url(../images/bruce-lee-1.png);
}
#disco {
    background-image: url(../images/disco.png);

}
#lopez {
    background-image: url(../images/sj-images/sj-059.jpg);
}
#mobile-cascade {
    background-image: url(../images/camping06.jpg);
}
#stew {
    background-image: url(../images/hero.jpg);
}