body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkolivegreen;
    color: white;
}

a {
    color:white;
}

header, main, aside, footer {
    width:80%;
    margin: auto;
}

section {
    box-sizing: border-box;
    border:white 2px solid;
    padding:5px;
    
}